body{
    font-family: "Poppins", sans-serif;
}

.seccion-introduccion{
    width: 600px;
    padding: 25px 45px;
}

.titulo{
    text-align: center;
    color: white;
}

.historia{
    padding: 26px 26px;
    text-align: justify;
    background-color: #666666;
}

.columna-img{
    border-radius: 20px;
}

.columna{
    background-color: rgb(38, 42, 43);
    color: white;
    padding: 20px 29px;
    border-radius: 20px;
}

.container-texto{
    padding: 25px 280px;
}

.columna-texto{
    width: 650px;
    padding: 25px 45px;
    text-align: justify;
    border-right: solid gray 2px;
}
.columna-texto2{
    width: 650px;
    padding: 25px 45px;
}

.titulo2{
    text-align: center;
}

.texto{
    text-align: justify;
}

