html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #fff;
    overflow-x: hidden; /* Elimina el desbordamiento horizontal */
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #88158d; /* Morado */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade sombra para un efecto de profundidad */
    position: sticky;
    top: 0;
    z-index: 1000; /* Asegura que el header se mantenga encima del contenido */
    transition: background-color 0.3s ease;
}

header:hover {
    background-color: #6e0f77; /* Color más oscuro al pasar el ratón */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    margin-right: 15px; /* Ajusta este margen según sea necesario */
    transition: transform 0.3s ease;
}

.logo-container img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el ratón */
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease, transform 0.3s ease;
}

header nav ul li a:hover {
    color: #f653ff;
    transform: translateY(-2px); /* Efecto de levantamiento al pasar el ratón */
}

.login-button {
    background-color: #f836ff;
    color: white;
    padding: 0.9em 1.5em;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-button:hover {
    background-color: #c628c0;
    transform: scale(1.05);
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    text-align: center;
    padding: 4em 2em;
}

.typewriter-text {
    overflow: hidden;
    border-right: 0.15em solid #333;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.1em;
    font-size: 2em;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
}

.main-content h1 {
    font-size: 4em;
    margin: 0;
    color: #A441A0;
    transition: color 0.3s ease;
}

.main-content img {
    margin-left: 20px;
    width: 150px;
    height: auto;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.main-content img:hover {
    transform: scale(1.1);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 1em 0;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);
}

footer {
    background-color: #333;
    text-align: center;
    padding: 1em 2em;
    color: white;
    font-size: 18px;
    position: relative;
}

footer p {
    margin: 0;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Colores para los fondos de cada icono */
.social-icons .Facebook { background-color: #3b5998; }
.social-icons .Instagram { background: linear-gradient(45deg, #FFDC80 0%, #F77737 25%, #fd1d1d 50%, #cc2366 75%, #8143AF 100%); }
.social-icons .Twitter-X { background-color: #000; }
.social-icons .WhatsApp { background-color: #25d366; }
.social-icons .Youtube { background-color: #FF0000; }
/* Fin de colores */

.social-icons .Instagram:hover { background-color: #d95a0d; }
.social-icons a:hover { background-color: #555; }

.carousel {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 1000px;
    height: auto;
    border-radius: 20px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}

.prev { left: 10px; }
.next { right: 10px; }

.carousel-indicators {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.carousel-indicators span {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.carousel-indicators .active {
    background-color: white;
}

.logo-footer {
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.logo-footer:hover {
    transform: scale(1.1);
}
