html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #88158d; /* Morado */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    font-family: "Poppins", sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 0; /* Elimina cualquier padding a la izquierda */
}

.logo-container img {
    margin-right: 0.5px; /* Ajusta este margen según sea necesario */
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin: 0 0.1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin: 9px 10px;
}

li .link:hover{
    background-color: #373737d1;
    border-radius: 10px;
    padding: 10px 1px;
    padding: 10px 10px;
}

.login-button {
    background-color: #333;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 9px;
    font-size: 1em;
    margin-left: 1em;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    text-align: center;
    padding: 4em 0;
}

.typewriter-text {
    overflow: hidden; /* Para que el texto no se desborde */
    border-right: .15em solid rgb(10, 10, 10); /* Efecto cursor */
    white-space: nowrap; /* Para que el texto no haga saltos de línea */
    margin: 0 auto; /* Centrar el texto */
    letter-spacing: .15em; /* Espacio entre letras */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite; /* Animaciones */
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(17, 17, 17); }
}

.main-content h1 {
    font-size: 4em;
    margin: 0;
    color: #A441A0;
}

.main-content img {
    margin-left: 20px; /* Ajusta el margen izquierdo según sea necesario */
    width: 150px;
    height: auto;
    vertical-align: middle; /* Alinea verticalmente con el texto */
}

.social-icons {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 1em;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 1em 0;
    color: white; /* Asegura que el texto sea visible */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

footer p {
    margin: 0;
}

.social-icons {
    display: flex;
    gap: 10px;
}
.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    font-size: 27px;
    text-decoration: none;
}

/*color para los fondos de cada icono*/
.social-icons .Facebook{
    background-color: #3b5998 ;
}

.social-icons .Instagram{
    background: linear-gradient(45deg, #FFDC80 0%, #F77737 25%, #fd1d1d 50%, #cc2366 75%, #8143AF 100%);
}

.social-icons .Twitter-X{
    background-color: rgb(0, 0, 0);
}

.social-icons .WhatsApp{
    background-color: #25d366;
}

.social-icons .Youtube{
    background-color: red;
}
/*fin de colores*/

.social-icons .Instagram:hover{
    background-color: #555;
}

.social-icons a:hover {
    background-color: #555;
}
.social-icons img {
    width: 24px;
    height: 24px;
}

/* Estilos del carrusel */
.carousel {
    position: relative;
    max-width: 1000px; /* Ajusta el ancho del carrusel */
    margin: auto;
    overflow: hidden;
    border-radius: 30px;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
    border-right: solid grey 1px;
} 
.footer-bottom {
    text-align: center;
    padding: 10px;
}
.footer-section h3 {
    margin-bottom: 10px;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li {
    margin-bottom: 5px;
}
.footer-section a {
    color: #fff;
    text-decoration: none;
}
.footer-section a:hover {
    text-decoration: underline;
}

/* footer-platafromas */
.footer-plataformas {
    flex: 1;
    margin: 0 20px;
    border-right: solid grey 1px;
}
.footer-plataformas h3 {
    margin-bottom: 10px;
}
.footer-plataformas ul {
    list-style: none;
    padding: 0;
}
.footer-plataformas ul li {
    margin-bottom: 5px;
}
.footer-plataformas a {
    color: #fff;
    text-decoration: none;
}
.footer-plataformas a:hover {
    text-decoration: underline;
}

/* fin */
.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 1000px; /* Ajusta el tamaño de las imágenes */
    height: auto;
    border-radius: 30px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 35px;
}

.prev {
    left: 20px;
}

.next {
    right: 0px;
}

.carousel-indicators {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.carousel-indicators span {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: white;
}

.logo-footer{
    border-radius: 50%;
}