@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #b370b0;
}

.login-container h3 {
  font-family: 'Lobster', cursive; /* Tipografía del título */
  font-size: 40px;
  margin-bottom: 30px;
}

.login-form {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #4e3b57;
}

.login-form div {
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600; /* Ajuste de grosor de las letras */
}

.login-form button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #b370b0;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #9b5e93;
}

.login-form p {
  margin-top: 20px;
  text-align: center;
  color: #b370b0;
}

.login-form p a {
  color: #b370b0;
  text-decoration: none;
}

.login-form p a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}
