/* Escenario 1*/
.header {
  position: relative;
  width: 100%;
  height: 200px;
  /* Ajusta la altura según sea necesario */
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.header-text {
  position: absolute;
  top: 50%;
  left: 40px;
  /* Espacio desde el borde izquierdo */
  transform: translateY(-50%);
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.subtext {
  display: inline-block;
  padding: 3px 17px;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  transform: translateY(-15%);
}


/*----------------------------------------------------Style Fragment-----------------------------------------------------*/
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.content-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  /* Puedes ajustar esto según sea necesario */
  margin: 0 auto;
}

.left-column {
  flex: 2;
  margin-right: 40px;
  /* Espacio entre las columnas */
  margin-left: -50px;
}

.right-column {
  flex: 1;
  margin-left: 80px;
}


/*-----------------------------------------------------Styles seats -----------------------------------------------------------------*/

.seat {
  width: 28px;
  height: 28px;
  margin: 3px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 28px;
  border-radius: 20%;
  transition: background-color 0.3s;
  border: 1px solid rgb(141, 137, 137);
  color: white;
  position: relative;
}

.seat .seat-id {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/*Estado disponible*/
.Disponible {
  background-color: transparent;
}

.Ocupado {
  background-color: #8d8989;
  cursor: not-allowed;
}

/*Estado no disponible*/
.seat.Seleccionado {
  background-color: #EB39EF;
  border: 0;
}

/*Estado ocupado*/
.seat.occupied {
  cursor: not-allowed;
  background-color: rgb(141, 137, 137);
  line-height: 29px;
  border: 0;
}

/* Stage and seats container */
.stage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  /* Ajuste el ancho según sea necesario */
  margin: auto;
}

.seats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: calc(15 * 45px);
  /* 15 asientos * (28px ancho + 10px gap) */
  margin: auto;
}

.stage {
  position: relative;
  width: 700px;
  /* Ajuste el ancho según sea necesario */
  height: 200px;
  background-color: #EB39EF;
  margin-bottom: 20px;
  border-radius: 1px;
  margin: 60px;
  /* Centra el contenedor */
}

.line {
  position: absolute;
  background-color: #EB39EF;
  width: 5px;
}

.line.left1,
.line.left2,
.line.left3 {
  height: 180px;
  left: -15px;
}

.line.left1 {
  top: 0;
}

.line.left2 {
  top: 10px;
  left: -25px;
}

.line.left3 {
  top: 20px;
  left: -35px;
}

.line.right1,
.line.right2,
.line.right3 {
  height: 180px;
  right: -15px;
}

.line.right1 {
  top: 0;
}

.line.right2 {
  top: 10px;
  right: -25px;
}

.line.right3 {
  top: 20px;
  right: -35px;
}


.square_left {
  position: absolute;
  background-color: #EB39EF;
  width: 30px;
  height: 30px;
  bottom: -45px;
  left: -15px;
}

.square2_left {
  position: absolute;
  background-color: #EB39EF;
  width: 30px;
  height: 30px;
  bottom: -90px;
  left: -15px;
}

.square3_left {
  position: absolute;
  background-color: #EB39EF;
  width: 30px;
  height: 30px;
  bottom: -135px;
  left: -15px;
}


.square_right {
  position: absolute;
  background-color: #EB39EF;
  width: 30px;
  height: 30px;
  bottom: -45px;
  right: -15px;
}

.square2_right {
  position: absolute;
  background-color: #EB39EF;
  width: 30px;
  height: 30px;
  bottom: -90px;
  right: -15px;
}

.square3_right {
  position: absolute;
  background-color: #EB39EF;
  width: 30px;
  height: 30px;
  bottom: -135px;
  right: -15px;
}

.base-line {
  position: absolute;
  background-color: #EB39EF;
  width: 620px;
  height: 6px;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-rect {
  position: absolute;
  background-color: #EB39EF;
  width: 350px;
  height: 50px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

/*-----------------------------------------------------Styles Simblogia -----------------------------------------------------------------*/

.custom-container {
  width: 600px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.377);
  background-color: white;
  margin: 80px auto;
  padding: 50px;
}

.icon img {
  width: 80px;
  /* Tamaño de la imagen ajustado */
  height: auto;
}

.divider {
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

/* escenario 3 */
.trapecio {
  min-width: 600px;
  height: 260px;
  background-color: #EB39EF;
  clip-path: polygon(0% 0%, 100% 0%, 82% 100%, 18% 100%);
  position: relative;
}

.row-flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.seatscenter {
  max-width: 400px;
  margin-top: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* indice */
.indice {
  max-width: 400px;
  border: 1px solid #EB39EF;
  border-radius: 10px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid grey;
}

.status img {
  width: 40%;
}

.status p {
  text-align: center;
  width: 60%;
  color: black;
}

/* escenario 4 */
.scenario-square {
  min-width: 500px;
  height: 230px;
  background-color: #EB39EF;
  margin: 0px 7px;
}

.seatscenter4 {
  max-width: 500px;
  margin-top: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.seatscenter2 {
  max-width: 500px;
  margin-top: 7px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*-------------------------------------------------------Boton de continuar---------------------------------*/
.b-rigth {
  position: absolute;
  right: 80px;
  height: 45px;
  width: 120px;
  background-color: #58b60b;
  color: white;

}

.b-rigth:hover {
  background-color: #60ca0a;
  color: white;
}

/*Resposive*/
/* Consultas de medios (Media Queries) */

@media (max-width: 1200px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .left-column,
  .right-column {
    margin-right: 0;
    width: 100%;
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .stage-container {
    width: 100%;
    margin: 20px;
  }

  .stage {
    width: 100%;
    height: 150px;
  }
}

@media (max-width: 576px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .seat {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  .color-box {
    width: 20px;
    height: 20px;
  }

  .text-margin-left {
    margin-left: 20px;
  }
}